div[id="left"] {
	border: solid red 1px;
	width: 200px;
	height: 300px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

div[id="right"] {
	border: solid red 1px;
	width: 200px;
	height: 300px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}