@font-face {
font-family: "girl";
src: url('d.ttf')
}


p {
    margin: 20px;
    width: 500px;
    border: solid red 3px;
    padding: 10px;
    background: #a2ccff;
    -webkit-box-shadow: 5px 5px 10px #808080;
    
    -moz-transition: margin 1s; /* Firefox 4 */
    -webkit-transition: margin 1s; /* Safari and Chrome */
    -o-transition: margin 2s; /* Opera */

}

p:hover {
    margin: 20px 200px;
}

a {

    text-decoration: none;
    font-family: Verdana;
    font-size: xx-large;

}

a:hover {
    text-shadow: 1px 1px 10px #FF0000;
    color: green;
 
}

div#div1 {
    text-align: center;
    padding:5px;
    border: solid red 3px;
    width: 100px;
    height: 100px;
    overflow:hidden;
    font-size: 80px;
    font-weight: bolder;
    border-radius: 100px 100px 0 0;   
    background-color: green;
    border-style: double;
    border-width: 50px;
    color: white;
}
div#div1:hover {
    border-radius: 100px ;   
    background-color: blue;
    border-style: double;
    border-width: 50px;
    color: white;
}
div#div2 {

    width: 40px;
    height: 40px;
    border: solid red 3px;
    background-image: url('social-sprite.jpg');
    background-position-x: -220px;
    transition: width 2s;
    -moz-transition: background-position-x 1s; /* Firefox 4 */
    -webkit-transition: background-position-x 1s; /* Safari and Chrome */
    -o-transition: background-position-x 2s; /* Opera */
}
div#div2:hover {
    background-position-x: -180px;
}
