body,
div,
form,
fieldset,
legend,
input,
button {
  margin: 0;
  padding: 0;
}
.input-bgcolor {
  background: #020202;
  /* Old browsers */

  background: -moz-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #020202), color-stop(100%, #cacaca));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #020202 0%, #cacaca 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020202', endColorstr='#cacaca', GradientType=0);
  /* IE6-9 */

}
.f_bgcolor {
  background: #fefefe;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fefefe 0%, #595959 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #595959));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fefefe 10%, #595959 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fefefe 0%, #595959 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fefefe 0%, #595959 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fefefe 0%, #595959 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#595959', GradientType=0);
  /* IE6-9 */

}
.button-bgcolor {
  background: #030303;
  /* Old browsers */

  background: -moz-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #030303), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #030303 0%, #fcfcfc 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#030303', endColorstr='#fcfcfc', GradientType=0);
  /* IE6-9 */

}
body {
  color: #000000;
  font-size: 16px;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}
body div#wrapper {
  margin-left: 50px;
  width: 450px;
}
body div#wrapper a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
body div#wrapper a.current {
  font-weight: bold;
}
body div#wrapper form.invisible {
  display: none;
}
body div#wrapper form {
  background: #fefefe;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fefefe 0%, #595959 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #595959));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fefefe 10%, #595959 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fefefe 0%, #595959 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fefefe 0%, #595959 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fefefe 0%, #595959 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#595959', GradientType=0);
  /* IE6-9 */

}
body div#wrapper form fieldset {
  border: solid 5px black;
  border-radius: 5px;
  text-align: right;
  padding-right: 75px;
  padding-top: 6px;
  display: block;
}
body div#wrapper form fieldset legend {
  font-style: italic;
  font-size: 1.7em;
  font-weight: bold;
  padding: 0 10px;
}
body div#wrapper form fieldset label {
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
}
body div#wrapper form fieldset input {
  border-radius: 15px;
  padding: 10px 15px;
  background: #020202;
  /* Old browsers */

  background: -moz-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #020202), color-stop(100%, #cacaca));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #020202 0%, #cacaca 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #020202 0%, #cacaca 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020202', endColorstr='#cacaca', GradientType=0);
  /* IE6-9 */

  border: none;
}
body div#wrapper form fieldset button {
  border-radius: 15px;
  border: solid 2px black;
  padding: 5px 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
  background: #030303;
  /* Old browsers */

  background: -moz-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #030303), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #030303 0%, #fcfcfc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #030303 0%, #fcfcfc 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#030303', endColorstr='#fcfcfc', GradientType=0);
  /* IE6-9 */

}
body div#wrapper form fieldset input:last-of-type {
  margin-bottom: 10px;
}
